@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

body{
    background-image: linear-gradient(to bottom left ,#424f60 40%, #e4665c );
    height: 1002px;
    width: 1200px;
    font-family: "Dancing Script";
}
h2{
    font-size: 40px;
}

.jumbotron{
    position: fixed;
    width : 1000px;
    height: 650px;
    background-color: black; 
    padding-top: 40px;
    top: 30%;
    left:3%;
}
.stf{
    color: transparent;
}
img{
    height:350px;
    width:400px;
}
.text-light{
    font-family: "Ibarra Real Nova";
    font-size: 18px;
}
.button{
    padding-top:5px;
    padding-left:3px;   
    height: 50px;
    width: 50px;
}

