@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Fascinate+Inline|Lobster|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

body { 
    background: url('home1.jpeg') no-repeat center center fixed; 
    /*background-color: white;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: 8rem;
  }
  /* to make black cover over background image */
  .bglayer {
    background-color: rgb(5, 5, 5 , 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 1800px;;
    height: 1400px;
}

/*sidebar*/
    
    #wrapper {
      z-index: 2;
      padding-left: 250px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    
    #sidebar-wrapper {
      z-index: 2;
                position: fixed;
                        left: 250px;
                        width: 250px;
                        height: 100%;
                        margin-left: -250px;
                  overflow-x: hidden;
                        background: #000;
                -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
            
    }
    
    /* Sidebar Styles */
    
    .sidebar-nav {
      z-index: 2;
      position: absolute;
      top: 0;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .sidebar-nav li {
      z-index: 2;
      text-indent: 20px;
      line-height: 40px;
    }
    
    .sidebar-nav li a {
      z-index: 2;
      display: block;
      text-decoration: none;
     color: #f4fdf4a2;
      font-size: 22px;
      font-family: "Big Shoulders Text","Lobster";
    }
    
    
    .sidebar-nav li a:hover {
      z-index: 2;
      text-decoration: none;
      color: #fff;
     /* background: rgba(255, 255, 255, 0.2);*/
     font-size: 25px;
    }
    
    
    .sidebar-nav li a:active, .sidebar-nav li a:focus {
      text-decoration: none;
    }
    
    
    .sidebar-nav>.sidebar-brand {
      height: 65px;
      font-size: 18px;
      line-height: 60px;
    }
    
    .sidebar-nav>.sidebar-brand a {
      color: #999999;
    }
    
    
    .sidebar-nav>.sidebar-brand a:hover {
      color: rgb(59, 52, 52);
      background: none;
    }
    
    .dropdown:hover>.dropdown-menu {
        display:block;
    }
    .dropdown:hover>.dropdown-menu:hover {
      display:block;
      background-color: #999999 !important;
      color: black;
  }
    .dropdown-menu {
        z-index: 2;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 7rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #fff;
        text-align: left;
        list-style: none;
        background-color: rgb(44, 38, 38);
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
      }
    
    
    
    @media(min-width:768px) {
      
    #wrapper {
        padding-left: 0;
      }
      
    #wrapper.toggled {
        padding-left: 0px;
      }
      
    #sidebar-wrapper {
        width: 250px;
      }
      
    #wrapper.toggled 
    #sidebar-wrapper {
        width: 250px;
      }
      

      .dropdown:hover>.dropdown-menu {
        display:block;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 7rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #fff;
        text-align: left;
        list-style: none;
        background-color: rgb(44, 38, 38);
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
      }
    
      .sidebar-header {
        text-align: center;
        font-size: 20px;
        position: relative;
        width: 100%;
        justify-content: center;
    }
    .sidebar-brand {
        height: 65px;
        position: relative;
        background:#0f0f11;
        background: linear-gradient(to right bottom,#0f0f11 50%, #0f0f11 50%  );
       padding-top: 1em;
    }
    .sidebar-brand a {
        color: #ddd;
    }
    .sidebar-brand a:hover {
        color: #0f0f11;
        text-decoration: none;
    }
    
    .image1{
      justify-content: center;
      align-content: center;
    }
 
  .fa-flag{
    color:black;
  }
  .black-text{
    color:black;
  }
  /*
  #page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}
*/
.space{
    color: transparent
}

.row>.float-center{
  padding-top: 20px;
  font-family: 'Big Shoulders Text';
}

.tline {
    border:1px solid rgb(255,223,0);
    width: 1700px;
}
.bg-transparent {
    background-color: transparent !important;
  }
  .jumbotron1{
      height:70px !important;
      width:700px;
  }
 h1{
    font-family: "Big Shoulders Text","Lobster";
    font-size : 50px !important;
 }
 h3, h6{
     font-family: "Ibarra Real Nova";
 }
 .text-transparent {
    color: transparent !important;
  }
  p{
    font-family: "Ibarra Real Nova";
    font-size: 17px;
  }
  .jumbotron2{
    height:60px;
    width:700px;
}
.jumbotron3{
    height:60px !important;
    width:700px;
}
.jumbotron4{
    height:20px !important;
    width:700px;
}
.bg-translucent{
    background-color: rgba(255,255,255,0.85);

}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    font-family: 'Ibarra Real Nova';
  }
  .btn-light:hover {
    color: #fff;
    background-color: #D4AF37 !important;
    border-color: rgb(150, 119, 28) !important;
    font-size: 16px;
  }
  a{
    color: #f4fdf4a2;
      text-decoration: none !important;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: rgb(116, 111, 111) !important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }